<% content_for :title do %>Radio Ambulante Dashboard: Default (30 Days)<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="text_intro" data-view="Text" data-title="Radio Ambulante Dashboard" data-text="Data and metrics over the past 30 days" data-moreinfo="" style="background-color:#222222"></div>
    </li>

    <%# ACQUISITION %>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="acquisition" data-view="Text" data-title="Acquisition" data-text="Where do our users come from?" data-moreinfo="" style="background-color:#2980B9"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="referrals" data-view="ListLinks" data-unordered="false" data-title="Top Referrals (Monthly)" data-moreinfo="Top social and direct referral sources excluding search (from Google Analytics)"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="countries" data-view="List" data-unordered="false" data-title="Top Countries (Monthly)" data-moreinfo="Top countries by visitor (from Google Analytics)" style="background-color:#2C3E50"></div>
    </li>
    <%#
    <li data-row="3" data-col="4" data-sizex="2" data-sizey="1">
        <div data-id="sample_graph" data-view="Rickshawgraph" data-renderer="bar" data-max="40"></div>
    </li>
    %>

    <%# ACTIVATION %>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="activation" data-view="Text" data-title="Activation" data-text="Are our users engaging with our content?" data-moreinfo="" style="background-color:#A1D693"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="events" data-view="List" data-unordered="false" data-title="Top Events (Monthly)" data-moreinfo="Top recorded events from website (from Google Analytics)" style="background-color:#BED693"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="listener_depth" data-view="List" data-unordered="false" data-title="Listener Depth (Monthly) -- COMING SOON" data-moreinfo="How deep users are getting into audio (from Google Analytics)" style="background-color:#93D69E"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="session_duration" data-view="Number" data-unordered="false" data-suffix="min" data-title="Avg. Session Duration (Monthly)" data-moreinfo="How long users are spending on site (from Google Analytics)" style="background-color:#A1D693"></div>
    </li>

    <%# GROWTH %>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="growth" data-view="Text" data-title="Growth" data-text="Are we growing our audience?" data-moreinfo="" style="background-color:#BD4932"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="active_users" data-view="Number" data-title="Active Users (Monthly)" style="background-color:#D4612D;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="new_users" data-view="Meter" data-title="% New Users (Monthly)" data-moreinfo="Percentage of new users visiting the site" data-min="0" data-max="100" style="background-color:#CA742B"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="soundcloud_plays" data-view="Number" data-title="Soundcloud Plays (All Time)" style="background-color:#D4612D;"></div>
    </li>

    <%# USE LATER: TOTAL VISITORS
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="visitor_count" data-view="Number" data-title="Visitors This Month"></div>
    </li>
    %>

    <%#
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li>
    %>
  </ul>
</div>
